{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-9">
			<h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-gray-900">The blog</h1>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<article class="custom-article">
							<img class="article-thumbnail img-responsive" src="{{ asset('images/coffee-card-left.jpeg') }}" alt="photo">
							<header>
								<h2 class="article-title">Can coffee make you a better developer?</h2>
							</header>

							<div class="article-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.</p>
							</div>
							<div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
								<img style="border-radius: 50%; float: left;" src="{{ asset('images/avatar.jpeg') }}" alt="Avatar of Jonathan Reinink">
								<div class="container">
									<p class="text-gray-900 leading-none">Jonathan Reinink</p>
									<p class="text-gray-600">Aug 18</p>
								</div>
							</div>
						</article>
					</div>

					<div class="col-md-6">
						<article class="custom-article">
							<img class="article-thumbnail" src="{{ asset('images/coffee-card-left.jpeg') }}" alt="photo">
							<header>
								<h2 class="article-title">Can coffee make you a better developer?</h2>
							</header>

							<div class="article-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.</p>
							</div>
							<div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
								<img style="border-radius: 50%; float: left;" src="{{ asset('images/avatar.jpeg') }}" alt="Avatar of Jonathan Reinink">
								<div class="container">
									<p class="text-gray-900 leading-none">Jonathan Reinink</p>
									<p class="text-gray-600">Aug 18</p>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6"></div>
	</div>
{% endblock %}
