{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!
{% endblock %}

{% block body %}
	<div>
		<h2>{{ blog_post.title }}</h2>
		<p>{{ blog_post.content }}</p>
	</div>
{% endblock %}
