{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1>Test</h1>
		<p class="text-purple-700 text-opacity-75">The quick brown fox ...</p>
		This friendly message is coming from:
		<ul class="list-decimal">
			<li>Your controller at
				<code>
					<a href="{{ '/Users/jeremylorthioir/Workspace/PHP/blog/src/Controller/BlogController.php'|file_link(0) }}">src/Controller/BlogController.php</a>
				</code>
			</li>
			<li>Your template at
				<code>
					<a href="{{ '/Users/jeremylorthioir/Workspace/PHP/blog/templates/blog/index.html.twig'|file_link(0) }}">templates/blog/index.html.twig</a>
				</code>
			</li>
		</ul>
	</div>
{% endblock %}
