* {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Merriweather,serif;
    font-weight: 700;
}



/* ==========================================
HOMEPAGE
==========================================*/
.custom-article {
    border-bottom: 2px solid #f4f4f4;
    margin-bottom: 5em;
    padding-bottom: 5em;
}

.custom-article .article-title {
    color: #2d2d2d;
    font-size: 34.1328px;
    font-size: 2.1333rem;
    line-height: normal;
    margin: 0.5em 0 35px;
    text-align: center;
}

.custom-article .article-thumbnail {
    max-width: 100%;
    vertical-align: middle;
    margin: 0 0 35px 0;
}